<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <h2><%= "Logged in as #{current_user.email}" %></h2>
    <h4><%= link_to '(logout)', logout_path %></h4>
  <% else %>
    <h4><%= link_to '(login)', login_path %></h4>
  <% end %>

  <%= yield %>

</body>
</html>
